aiosqlite==0.20.0
annotated-types==0.6.0
greenlet==3.0.3
iniconfig==2.0.0
packaging==24.0
pluggy==1.4.0
pydantic==2.7.0
pydantic_core==2.18.1
pytest==8.1.1
SQLAlchemy==2.0.29
typing_extensions==4.11.0
